body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Quicksand', sans-serif;
}

#game_data{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    max-width: 450px;
}

#stars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#stars > ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
}

#stars > ul > li{
    margin-right: 0.1em;
}

#memory_board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*position: relative;*/
    background: #00CDB9; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #00CDB9, #AB7FCF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00CDB9, #AB7FCF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00CDB9, #AB7FCF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00CDB9, #AB7FCF);
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    width: 90%;
    max-width: 450px;
    height: 100%;
    max-height: 450px;
    padding: 0.5em;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);
    -moz-box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);
    box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);  
}

#container > header{
    margin: 0px auto;
    text-align: center;
}

#memory_board > div{
    display: flex;
    /*flex-basis: 15%;*/
    flex: 0 1 auto;
    width: 2.4em;
    height: 2.4em;
    background: #2B3E4A;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    margin: 0.5em;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

#reload:hover{
    cursor: pointer;
}

/* The Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
	border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
	-webkit-box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);
    -moz-box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);
    box-shadow: 5px 5px 11px 3px rgba(149,149,158,1);  
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The modal close button */

.modal-header {
    padding: 2px 16px;
    background-color: #2B3E4A;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #2B3E4A;
    color: white;
}

/* Add modal animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Add responsive media queries */
@media all and (max-width: 510px) {
    #memory_board{
        flex-flow: row wrap;
		max-width: 90%;
		height: 70%;
		justify-content: space-around;
    }

    #game_data{
        width: 80%;
    }
    
    #memory_board > div {
        flex-shrink: 0;
		/*width: 2.0em;
		height: 2.0em;*/
		margin: 8px;
  }
}

@media all and (max-width: 430px) {
    #memory_board{
        flex-flow: row wrap;
		max-width: 90%;
		height: 70%;
		justify-content: space-around;
    }

    #game_data{
        width: 80%;
    }
    
    #memory_board > div {
        flex-shrink: 0;
		width: 2.0em;
		height: 2.0em;
		margin: 8px;
  }
}

@media all and (max-width: 355px) {
    #memory_board{
        flex-flow: row wrap;
		max-width: 90%;
		height: 70%;
		justify-content: space-around;
    }

    #game_data{
        width: 80%;
    }
    
    #memory_board > div {
        flex-shrink: 0;
		width: 1.75em;
		height: 1.75em;
		margin: 8px;
  }
}
